.pokedex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 92vh;
}

.pokedex-item {
  position: relative;
  flex: 20%;
  width: 100%;
  height: auto;
  border: 1px solid black;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pokedex-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.pokedex-overlay:hover {
  opacity: .6;
}

.pokedex-title {
  z-index: 2;
}

.pokedex-title h4 {
  text-transform: capitalize;
}

@media screen and (max-width: 991px) {
  .pokedex-item {
    flex: 34%;
  }
}

@media screen and (max-width: 600px) {
  .pokedex-item {
    flex: 100%;
    height: 100px;
  }
}
