.intro-pokemon {
  height: 92vh;
  width: 100%;
  background-image: url("../../../assets/background.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .intro-pokemon {
    height: 90vh;
    background-position: 47%;
  }
}